In [4]:
import numpy as np
import pandas as pd
import os
from pathlib import Path

In [15]:
folder_path = Path("sample_csv_combine")

i = 0
for file in os.listdir(folder_path):
    if file.endswith(".csv"):
        if i == 0:
            file_path = folder_path / file           
            df = pd.read_csv(file_path)
            i += 1
        else:
            file_path = folder_path / file
            df = df.append(pd.read_csv(file_path))
        print(file)

low_level_labels_3.csv
low_level_labels_2.csv
low_level_labels_4.csv
low_level_labels_0.csv
low_level_labels_1.csv

In [17]:
df

,name_low,unix_date,date,tool,index,len_cut,min_current_main,max_current_main,min_current_sub,max_current_sub,...,svd_current_main_16,svd_current_main_17,svd_current_main_18,svd_current_main_19,svd_current_main_20,svd_current_main_21,svd_current_main_22,svd_current_main_23,svd_current_main_24,failed
0,1549318286_37_0,1549318286,2019-02-04 17:11:26,37,0,1207,286.000000,376.000000,461.000000,969.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1568320448_1_1,1568320448,2019-09-12 16:34:08,1,1,1135,258.945557,648.853699,0.237310,6.601648,...,926.560631,905.761858,845.456139,826.857980,626.870804,622.254155,536.224471,535.647114,418.754254,NaN
2,1548460308_54_1,1548460308,2019-01-25 18:51:48,54,1,1919,281.000000,387.000000,487.000000,981.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1548453477_3_0,1548453477,2019-01-25 16:57:57,3,0,671,177.000000,513.000000,1.000000,8.000000,...,944.605342,925.894376,869.278922,855.566287,736.247756,734.975956,718.875468,704.116759,699.398419,NaN
4,1549409222_8_0,1549409222,2019-02-05 18:27:02,8,0,719,995.000000,1074.000000,1015.000000,1054.000000,...,166.359445,111.897980,110.318284,105.201208,103.538048,103.363867,101.360148,99.723532,98.839793,NaN
5,1549325194_8_1,1549325194,2019-02-04 19:06:34,8,1,575,989.000000,1067.000000,1016.000000,1052.000000,...,156.145402,110.600780,108.722673,107.552043,107.241971,103.469813,103.194044,90.462920,89.474998,NaN
6,1549591174_54_3,1549591174,2019-02-07 20:59:34,54,3,1607,285.000000,380.000000,391.000000,1705.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1542377837_32_1,1542377837,2018-11-16 09:17:17,32,1,439,288.000000,381.000000,520.000000,964.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1548424667_54_5,1548424667,2019-01-25 08:57:47,54,5,1527,283.000000,373.000000,322.000000,1719.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1542823757_1_0,1542823757,2018-11-21 13:09:17,1,0,1135,223.000000,657.000000,1.000000,9.000000,...,1132.888810,1075.344752,1008.224433,734.198936,703.495862,691.921472,688.517634,685.793475,662.391136,NaN
10,1549683407_13_0,1549683407,2019-02-08 22:36:47,13,0,3019,283.000000,1051.000000,1.000000,9.000000,...,536.588820,534.451411,492.597897,465.108845,463.785784,417.838343,416.236550,408.416453,403.777729,NaN
11,1542646065_36_2,1542646065,2018-11-19 11:47:45,36,2,239,290.000000,379.000000,279.000000,882.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1549404231_37_1,1549404231,2019-02-05 17:03:51,37,1,447,286.000000,380.000000,516.000000,932.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1549314053_37_1,1549314053,2019-02-04 16:00:53,37,1,447,294.000000,382.000000,503.000000,934.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1548865115_1_0,1548865115,2019-01-30 11:18:35,1,0,1135,235.000000,657.000000,1.000000,9.000000,...,1133.360315,1068.573081,1014.416873,889.771824,883.871804,855.829935,798.104851,713.501987,710.857069,NaN
15,1549562690_37_0,1549562690,2019-02-07 13:04:50,37,0,1207,284.000000,378.000000,409.000000,924.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1542389825_17_1,1542389825,2018-11-16 12:37:05,17,1,639,211.000000,661.000000,1.000000,8.000000,...,803.301001,761.265601,724.512351,656.252028,555.780520,548.160666,536.654788,536.631570,530.356555,NaN
17,1574887044_36_3,1574887044,2019-11-27 15:37:24,36,3,287,1.000000,3.000000,282.000000,875.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1549400630_36_7,1549400630,2019-02-05 16:03:50,36,7,247,291.000000,382.000000,254.000000,1100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1548798226_6_2,1548798226,2019-01-29 16:43:46,6,2,319,190.000000,673.000000,299.000000,454.000000,...,567.250115,514.742606,513.054735,464.486566,461.828850,456.911377,450.508463,445.316034,417.451775,NaN
20,1568301044_54_3,1568301044,2019-09-12 11:10:44,54,3,2039,0.536752,3.664471,264.097107,1865.793213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1549580287_8_1,1549580287,2019-02-07 17:58:07,8,1,575,988.000000,1065.000000,1015.000000,1053.000000,...,138.758003,104.482407,103.916467,100.879825,100.484397,83.407879,82.991122,82.767640,82.303781,NaN
22,1549675211_21_0,1549675211,2019-02-08 20:20:11,21,0,1285,206.000000,876.000000,1.000000,9.000000,...,1299.081993,1265.492309,1258.137563,1250.400024,1246.753814,1205.933553,1204.805378,1098.226780,1078.220094,NaN
23,1542377342_54_3,1542377342,2018-11-16 09:09:02,54,3,1607,288.000000,379.000000,371.000000,1685.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1542738017_1_1,1542738017,2018-11-20 13:20:17,1,1,687,223.000000,647.000000,1.000000,10.000000,...,762.650805,681.932193,625.917213,622.184265,561.861266,560.623076,555.707573,518.753394,515.902541,NaN
25,1549675703_6_7,1549675703,2019-02-08 20:28:23,6,7,447,246.000000,633.000000,292.000000,486.000000,...,698.569495,655.410458,626.551322,536.761481,532.656461,530.730171,501.665358,459.103463,455.225460,NaN
26,1548468454_8_1,1548468454,2019-01-25 21:07:34,8,1,535,989.000000,1068.000000,1016.000000,1056.000000,...,138.033719,113.322132,113.271238,97.109432,97.090245,92.530210,91.070608,88.724175,88.481535,NaN
27,1548899642_8_3,1548899642,2019-01-30 20:54:02,8,3,19,1105.000000,1351.000000,2220.000000,2434.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1548732312_11_0,1548732312,2019-01-28 22:25:12,11,0,1804,379.000000,1041.000000,1.000000,10.000000,...,1693.552591,1687.742774,1532.863595,1458.803829,1278.770593,1266.785717,1087.180170,1081.137091,982.770181,NaN
29,1568216196_17_3,1568216196,2019-09-11 11:36:36,17,3,623,213.845001,1446.157959,0.533684,7.825361,...,1650.959043,1615.645519,1543.302179,1496.743427,1271.941780,1233.875993,1067.561468,1011.156017,1002.427766,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,1542818645_17_3,1542818645,2018-11-21 11:44:05,17,3,583,212.000000,635.000000,1.000000,8.000000,...,791.795444,692.483735,667.387761,480.339193,478.933381,396.085859,393.480136,388.874920,386.895249,NaN
2971,1542816289_54_5,1542816289,2018-11-21 11:04:49,54,5,719,284.000000,369.000000,380.000000,1657.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,1549643943_2_1,1549643943,2019-02-08 11:39:03,2,1,711,233.000000,680.000000,1.000000,9.000000,...,800.297543,711.965282,697.436007,685.208544,584.676701,580.557731,578.771966,572.408013,553.423927,NaN
2973,1549310486_22_2,1549310486,2019-02-04 15:01:26,22,2,1279,229.000000,655.000000,1.000000,9.000000,...,1145.977066,1072.816236,1034.031526,1011.295766,859.551447,848.071754,728.271137,725.694269,708.823973,NaN
2974,1548705211_36_7,1548705211,2019-01-28 14:53:31,36,7,247,288.000000,367.000000,263.000000,1011.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,1542652887_37_1,1542652887,2018-11-19 13:41:27,37,1,447,293.000000,377.000000,518.000000,959.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2976,1549569018_8_3,1549569018,2019-02-07 14:50:18,8,3,390,324.000000,1051.000000,290.000000,459.000000,...,167.913267,160.687762,160.338746,145.174441,126.728818,123.924035,120.057941,119.783146,114.855291,NaN
2977,1549320933_37_3,1549320933,2019-02-04 17:55:33,37,3,599,284.000000,384.000000,531.000000,1000.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2978,1549595636_1_1,1549595636,2019-02-07 22:13:56,1,1,687,220.000000,639.000000,1.000000,10.000000,...,832.627270,741.115496,734.033510,639.569131,566.026342,558.056358,513.483170,510.809217,478.119129,NaN
2979,1548901433_32_0,1548901433,2019-01-30 21:23:53,32,0,1952,287.000000,388.000000,409.000000,1585.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2980,1542655065_22_5,1542655065,2018-11-19 14:17:45,22,5,359,263.000000,647.000000,1.000000,8.000000,...,490.200733,484.873276,426.596381,423.750668,367.136790,365.740508,331.246657,276.051453,273.577742,NaN
2981,1542316037_17_0,1542316037,2018-11-15 16:07:17,17,0,1562,167.000000,1019.000000,1.000000,9.000000,...,1553.140513,1552.337690,1546.652692,1342.240893,1257.532843,1251.296052,1212.231840,1078.485017,1068.520155,NaN
2982,1548876439_8_3,1548876439,2019-01-30 14:27:19,8,3,18,1121.000000,1335.000000,2338.000000,2492.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2983,1542316657_6_0,1542316657,2018-11-15 16:17:37,6,0,463,243.000000,500.000000,290.000000,469.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2984,1549066293_54_5,1549066293,2019-02-01 19:11:33,54,5,719,284.000000,374.000000,347.000000,1660.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985,1549548976_57_0,1549548976,2019-02-07 09:16:16,57,0,2913,286.000000,382.000000,277.000000,1619.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2986,1548795101_37_2,1548795101,2019-01-29 15:51:41,37,2,431,291.000000,374.000000,507.000000,938.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987,1549419825_17_2,1549419825,2019-02-05 21:23:45,17,2,743,225.000000,665.000000,1.000000,10.000000,...,863.850092,825.519557,802.794729,673.525980,597.286988,552.357262,547.379930,533.350646,523.829092,NaN
2988,1549591423_32_1,1549591423,2019-02-07 21:03:43,32,1,439,287.000000,384.000000,521.000000,951.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2989,1548698132_6_10,1548698132,2019-01-28 12:55:32,6,10,407,240.000000,415.000000,297.000000,497.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2990,1549390567_22_5,1549390567,2019-02-05 13:16:07,22,5,359,221.000000,626.000000,1.000000,8.000000,...,578.208681,565.422630,555.608076,322.144454,318.526986,283.298559,274.877238,270.109170,239.308293,NaN
2991,1549414527_13_0,1549414527,2019-02-05 19:55:27,13,0,3018,282.000000,1054.000000,1.000000,8.000000,...,459.432019,458.616375,422.166530,384.816046,383.693824,376.829263,376.643340,369.455135,368.555591,NaN
2992,1548874134_36_3,1548874134,2019-01-30 13:48:54,36,3,239,286.000000,372.000000,277.000000,923.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2993,1548442338_17_0,1548442338,2019-01-25 13:52:18,17,0,1564,145.000000,1038.000000,1.000000,11.000000,...,1577.416338,1563.641000,1540.355438,1348.298940,1325.344848,1320.592168,1202.486473,1191.813131,1053.125004,NaN
2994,1548865583_54_1,1548865583,2019-01-30 11:26:23,54,1,1959,289.000000,383.000000,470.000000,1035.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2995,1549389451_2_0,1549389451,2019-02-05 12:57:31,2,0,1084,231.000000,1034.000000,1.000000,10.000000,...,1355.164565,1298.975180,1270.320999,1234.652407,1197.821740,1007.076027,969.907167,913.875605,909.906856,NaN
2996,1549550786_32_1,1549550786,2019-02-07 09:46:26,32,1,439,291.000000,377.000000,509.000000,948.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2997,1568298230_6_6,1568298230,2019-09-12 10:23:50,6,6,343,250.357697,700.033813,0.573649,5.950605,...,317.435815,286.811891,256.335656,243.524786,227.321537,209.452998,206.595335,189.342474,182.510650,NaN
2998,1549913858_54_2,1549913858,2019-02-11 14:37:38,54,2,2071,285.000000,377.000000,387.000000,1607.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2999,1549418581_3_1,1549418581,2019-02-05 21:03:01,3,1,231,182.000000,493.000000,1.000000,8.000000,...,403.095008,370.665645,367.491439,329.083155,321.398003,319.234876,306.489573,305.272319,290.437979,NaN